
<div class="cat-detail">
  <div id="top">
    <div id="search-Bar">
      <input type="text" placeholder="Search">
      </div>
    <div id="login-Bar">

    </div>
    </div>
    <div id="right-top"></div>
  <div id="mid">
  <div id="left-mid">
  <img [src]="cat.url" alt="Cat Image">
  </div>
    <div id="right-mid">
      <div id="chat-Box">
        <div id="infor">
          <p> PHÁT LẠI TRÒ CHUYỆN TRỰC TIẾP <button>v</button></p>
        </div>
        <p>Bip Bom
          ​​công nghệ cao bắn mãi ko chết<p>
        <p>S1mple Luan
        ​​CT97</p>
        <p>
          omen
          ​​bắn loạt ba đi chú dũng chỉ có mấy con gà mới không biết bắn loạt ba thôi hihi</p>
        <p>
          Guitar is my life
          ​​lộ</p>
        <p>wolf sliver
          Hội viên mới
          ​​lộ rồi</p>
        <p>Kien Nguyen
          ​​sắp về easy rồi</p>
        <p>Khang Charles
          ​​dũng 500k</p>
        <p>Anh tuấn
          ​​hello a</p>
        <p>Thành Nguyễn Chí
          Hội viên mới
          ​​chú nhận cháu làm con nuôi với =))))</p>
        <p>Trung Nguyen
          ​​Ai bắn đấy ????</p>
        <p>Khôi Eight2
          ​​chết chết :)))</p>
        <p>Marcus Grabfood
          ​​game gì thế các thầy</p>
        <p>Ann
          ​​Lộ tẩy rồi</p>
      </div>
      <div class="videoNext">
        <div class="im">
          <img src="https://i.ytimg.com/vi/1J4Q1QY9JZ4/hqdefault.jpg" alt="Video Image">
        </div>
        <div class="tex">
          <p>GẶP ZOMBIE NẤM ĐỘC GHÊ RỢN !!! SỢ HÃI THỰC SỰ ...</p>
          <p class="small-gray-text">Trực Tiếp Game</p>
        </div>
      </div>
    </div>
  </div>
  <div id="bottom">
    <div id="bottom-up">
      <div id="boxx2">
        <p>XÃ HỘI TUYỆT DIỆT, CHỈ CÒN NHỮNG CON QUÁI VẬT ĐÁNG SỢ !!! - HALF-LIFE 3 ALYX #2</p>
      </div>
    </div>
    <div id="bottom-down">
      <div id="boxx">
        <p>286 N lượt xem  Phát trực tiếp 2 tuần trước</p>
        <p>Đây là video chơi game Half-Life: Alyx trên kênh Trực Tiếp Game của tôi - Dũng CT. Anh em thấy hay có thể ấn Theo dõi (Subscribe) kênh để xem những video tiếp theo nhé!!! </p>
        <p>...thêm</p>
      </div>
    </div>
  </div>
</div>
